@keyframes rolling {
    0% {
        transform: translateY(0);
    }
    25%{
        transform: translateY(-20%);
    }
    50%{
        transform: translateY(-40%);
    }
    75%{
        transform: translateY(-60%);
    }
    100%{
        transform: translateY(-80);
    }
}

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h1, h2, h3 {
    font-size: 50%;
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
        
}

body {
    background-color: #111;
    color: #999;
}

.portrait {
    background-image:url(profile.png);
    background-size: cover;
    background-position: center;
    padding-top: 56.25%;
}
    
.profile {
        padding: 7%;
}
    
.profile-header,
.profile-section {
        padding-bottom: 10%;
}
.profile-section h2 {
    border-top: 3px solid;
    color: antiquewhite;
    margin-bottom: 20px;
    font-size: 17px;
}
.name {
    font-size: 30px;
    line-height: 2;
    font-style: italic;
    margin-bottom: 30px;
    font-family: 'Nanum Brush Script', cursive;
}
.name-job {
    display: inline-block;
    color: antiquewhite;
    vertical-align: top;
    height: 2em;
    overflow: hidden;
    padding-right: 0.5em;
    position:relative;
}

.name-job::after {
    content: '';
    position: absolute;
    left 0;
    top 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 10px 10px #111;
}
.name-job-list {
    animation-name: rolling;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
    .name-title {
        font-size: 1.8em;
         line-height: 0.8;
        color: deepskyblue;
        margin-left: -0.5em;
        position: relative;
}
.timeline {
    font-size: 0.9rem;
}
.timeline h3 {
    color: deepskyblue;
    font-size: 15px;
    margin-bottom: 5px;
}
.timeline li {
    padding-bottom: 50px;
}
.timeline li:last-child{
    padding-bottom: 0;
}